@*using Modas.Models*@
@using Modas.Models.ViewModels

@*model IEnumerable<Event>*@
@model EventsListViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
    <table class="table table-sm table-striped table-shadow">
        <tr><th class="text-center">Flag</th><th>Date</th><th>Time</th><th>Location</th></tr>
        @foreach (var e in Model.Events)
        {
        <tr>
            <td class="flag">@if(e.Flagged ){
            <i class="fas fa-flag"></i>
        }else{
            <i class="far fa-flag"></i>
        }</td>
            @*<td class="text-center">
            <i data-id="@e.EventId" data-checked="@e.Flagged.ToString().ToLower()" class="@(e.Flagged ? "fas" : "far") fa-flag fa-lg flag"></i>
        </td>*@
            <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
            <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
            <td>@e.Location.Name</td>
        </tr>
        }
    </table>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" id="buttonFirst"  onclick="location.href='/page@(Model.PagingInfo.CurrentPage - 1)'">

                    <i class="fas fa-angle-double-left"></i><span class="button-text"> First</span>

</button>
                <button type="button" class="btn btn-outline-secondary" id="buttonPrev" onclick="location.href='/page@(Model.PagingInfo.CurrentPage - 1)'">
                    <i class="fas fa-angle-left"></i><span class="button-text"> Prev</span>
                </button>
            </div>

            <div class="col text-center">
                @(Model.PagingInfo.CurrentPage * Model.PagingInfo.ItemsPerPage - Model.PagingInfo.ItemsPerPage + 1)–
                @if((Model.PagingInfo.CurrentPage * Model.PagingInfo.ItemsPerPage) > Model.PagingInfo.TotalItems){
                @Model.PagingInfo.TotalItems
                }
                else
                {
                @(Model.PagingInfo.CurrentPage * Model.PagingInfo.ItemsPerPage)
                }
                of @Model.PagingInfo.TotalItems
            </div>


            <div class="col text-right">
                <button type="button" class="btn btn-outline-secondary" id="buttonNext" onclick="location.href='/page@(Model.PagingInfo.CurrentPage + 1)'">

                    <span class="button-text">Next </span><i class="fas fa-angle-right"></i>

</button>
                <button type="button" class="btn btn-outline-secondary" id="buttonLast" onclick="location.href='/page@(Model.PagingInfo.TotalPages)'">

                    <span class="button-text">Last </span><i class="fas fa-angle-double-right"></i>

</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @*<script src="~/js/site.js"></script>*@
    <script>

        function disableFirst(){
        if(@Model.PagingInfo.CurrentPage == 1){
                $('#buttonFirst', '#buttonPrev').prop('disabled', true);

            }else{
                $('#buttonFirst', '#buttonPrev').prop('disabled', false);

            }
    };

    function disableLast(){
        if(@Model.PagingInfo.CurrentPage == @Model.PagingInfo.TotalPages){
                $('#buttonLast', '#buttonNext').prop('disabled', true);

            }else{
                $('#buttonLast, '#buttonNext').prop('disabled', false);

            }
    };



     $(function() {
        disableFirst();
        disableLast();
        // $('#buttonFirst').prop('disabled', true);
        //alert('test');

        $('.flag').on('click', function () {
                $('i', this).toggleClass("far fa-flag fas fa-flag");
            });

        @*$('.flag').on('click', function () {
                // TODO: AJAX to update database
                if ($(this).data('checked')) {
                    $(this).data('checked', false);
                    $(this).removeClass('fas').addClass('far');
                } else {
                    $(this).data('checked', true);
                    $(this).removeClass('far').addClass('fas');
                }
            });*@
    });
    </script>
    
</body>
</html>