@*using Modas.Models*@
@using Modas.Models.ViewModels

@*model IEnumerable<Event>*@
@model EventsListViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <table class="container table table-bordered">
        <tr><th>Date</th><th>Time</th><th>Location</th></tr>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
                <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
                <td>@e.Location.Name</td>
            </tr>
        }
    </table>
    <div class="container">
        <button type="button" class="btn btn-default">
            <a href="/page1">
                <i class="fas fa-angle-double-left"></i>First
                </a>
</button>
        <button type="button" class="btn btn-default">
            <a href="/page@(Model.PagingInfo.CurrentPage - 1)">
                <i class="fas fa-angle-left"></i>Prev
                </a>
</button>

        @*<div page-model="@Model.PagingInfo" page-action="List">*@
            @(Model.PagingInfo.CurrentPage * Model.PagingInfo.ItemsPerPage - Model.PagingInfo.ItemsPerPage + 1)–@(Model.PagingInfo.CurrentPage * Model.PagingInfo.ItemsPerPage) of @Model.PagingInfo.TotalItems

        @*</div>*@
        
        <button type="button" class="btn btn-default">
            <a href="/page@(Model.PagingInfo.CurrentPage + 1)">
            Next<i class="fas fa-angle-right"></i></a>
        </button>
        <button type="button" class="btn btn-default">
            <a href="/page@(Model.PagingInfo.TotalPages)">
                Last<i class="fas fa-angle-double-right"></i>
                </a>
</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>